:root {
  --primary-font-family: Roboto, sans-serif;
  --secondary-font-family: Raleway, sans-serif;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --light-text-color: #ffffff;
  --dark-text-color: #000000;
  --accent-color: #2196f3;
  --primary-background-color: #ffffff;
  --secondary-background-color: #e5e5e5;
  --dark-background-color: #2f303a;
  --bg-images-lianer-gradient: rgba(47, 48, 58, 0.4);
  --bg-activity-section: rgba(47, 48, 58, 0.8);
  --bg-cards-portfolio: rgba(33, 150, 243, 0.9);
  --bg-bd-modal: rgba(0, 0, 0, 0.2);
  --bg-modal-form-border: rgba(33, 33, 33, 0.2);
  --button-hover-color: #188ce8;
  --border-img-color: #eeeeee;
  --footer-contact-link-color: #ffffff99;
  --btn-portfolio-bg-color: #f5f4fa;
  --icon-social-color: #afb1b8;
  --transition-duration: 250ms;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: var(--primary-font-family);
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  background-color: var(--primary-background-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
  color: currentColor;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.indent {
  display: block;
}

.logo-link {
  display: block;
  margin-right: 93px;
  font-family: var(--secondary-font-family);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--dark-text-color);
}

.logo-text {
  color: var(--accent-color);
}

.btn {
  min-width: 200px;
  padding: 10px 32px;
  border: none;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: var(--light-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color var(--transition-duration) var(--transition-timing-function), box-shadow var(--transition-duration) var(--transition-timing-function);
}

.btn:hover,
.btn:focus {
  background-color: var(--button-hover-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.list-social {
  display: flex;
  justify-content: space-between;
  margin-right: 32px;
  margin-left: 32px;
}

.list-social-link {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition: background-color var(--transition-duration) var(--transition-timing-function);
}

.list-social-link:hover,
.list-social-link:focus {
  background-color: var(--accent-color);
}

.list-social-link-icon {
  fill: var(--icon-social-color);
  transition: fill var(--transition-duration) var(--transition-timing-function);
}

.list-social-link:hover .list-social-link-icon,
.list-social-link:focus .list-social-link-icon {
  fill: var(--light-text-color);
}

.header {
  border-bottom: 1px solid #ececec;
}

.header > .container {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  align-items: center;
}

.nav-header-list-item {
  margin-right: 50px;
}

.nav-header-list-item:last-child {
  margin-right: 0;
}

.nav-list-link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color var(--transition-duration) var(--transition-timing-function);
}

.nav-list-link:hover,
.nav-list-link:focus,
.active-page,
.header-contact-link:hover,
.header-contact-link:focus {
  color: var(--accent-color);
}

.active-page::after {
  position: absolute;
  left: 0;
  bottom: 0;
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.nav-contact-list {
  display: flex;
  margin-left: auto;
  align-items: center;
}

.nav-contact-list-item {
  margin-right: 50px;
}

.nav-contact-list-item:last-child {
  margin-right: 0;
}

.header-contact-link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.header-contact-link-icon {
  margin-right: 10px;
  fill: var(--secondary-text-color);
  transition: fill var(--transition-duration) var(--transition-timing-function);
}

.header-contact-link:hover .header-contact-link-icon,
.header-contact-link:focus .header-contact-link-icon {
  fill: var(--accent-color);
}

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  margin: 0 auto;
  max-width: 1600px;
  text-align: center;
  background-color: var(--dark-background-color);
  background-image: linear-gradient(var(--bg-images-lianer-gradient), var(--bg-images-lianer-gradient)), url(../images/hero/bg-fon-hero.jpg);
  background-size: cover;
}

.hero-title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--light-text-color);
}

.benefits {
  padding-bottom: 0;
}

.benefits-list {
  display: flex;
  margin-left: -30px;
  margin-top: -30px;
}

.benefits-list-item {
  flex-basis: calc((100% - 120px) / 4);
  margin-left: 30px;
  margin-top: 30px;
}

.benefits-list-item-icon {
  display: flex;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  background: var(--btn-portfolio-bg-color);
}

.benefits-list-title {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: left;
}

.benefits-description {
  font-size: 14px;
  line-height: 1.71;
  color: var(--secondary-text-color);
}

.activity-list {
  display: flex;
  margin-left: -30px;
  margin-top: -30px;
}

.activity-list-item {
  flex-basis: calc((100% - 90px) / 3);
  margin-left: 30px;
  margin-top: 30px;
}

.activity-list-img {
  position: relative;
}

.activity-list-description {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: var(--light-text-color);
  background: var(--bg-activity-section);
  padding-top: 27px;
  padding-bottom: 27px;
}

.team {
  background-color: var(--btn-portfolio-bg-color);
}

.team-list {
  display: flex;
  margin-left: -30px;
  margin-top: -30px;
}

.team-list-item {
  flex-basis: calc((100% - 120px) / 4);
  margin-left: 30px;
  margin-top: 30px;
}

.team-list-item-wrapper {
  padding-top: 30px;
  padding-bottom: 30px;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  background: var(--primary-background-color);
}

.team-list-title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team-list-description {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--secondary-text-color);
}
/*# sourceMappingURL=main.css.map */