.logo-link {
    display: block;
    margin-right: 93px;
    font-family: var(--secondary-font-family);
    @include font(26px, 700, 1.19);
    color: var(--dark-text-color);
  }
  
  .logo-text {
    color: var(--accent-color);
  }